.login-page, .register-page { 
    background: #2c848c; 
}
.btn-primary {
    color: #fff;
    background-color: #2c848c;
    border-color: #2c848c;
    box-shadow: none;
}
.login-logo a, .register-logo a {
    color: #000000;
}
.btn-primary:hover {
    color: #fff;
    background-color: #572a2a;
    border-color: #572a2a;
}
.tab {
  display: none;
}
 
/*img.rounded-circle {
    width: 100%;
    height: 100%;
}
 */


.dropdown-select {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 9px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 1.35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 

img.img-profile.rounded-circle {
    width: 115px;
    height: 115px;
}

img#edit-profile {
    width: 100%;
}
.left{
    float: left;
 }
.right{
    float: right;
 }

img#profile-image {
    width: 115px;
    height: 115px;
}
.align-items-stretch {
    margin-bottom: 20px;
}
img#image-center { 
    margin-left: 32%;
}

